{% extends 'base.html.twig' %}
{% block title %}Update webhook {{ item.id }}{% endblock %}

{% block body %}
  <div class="card">
    {{ form_start(form) }}
    <div class="card-body">
      {{ form_rest(form) }}

      <button class="btn btn-primary" type="submit">Save</button>
    </div>
    {% if item.signingSecret is not null %}
    <div class="card-body">
      {% include 'webhook/sing-example.html.twig' with { 'webhook': item } %}
    </div>
    {% endif %}
    {{ form_end(form) }}
  </div>
{% endblock %}
