{% extends 'base.html.twig' %}
{% block title %}Video conversion problem{% endblock %}

{% block body %}
  <div class="card">
    <ul class="list-group">
      <li class="list-group-item">
        <strong>ID:</strong> {{ result.id }}
      </li>
      <li class="list-group-item">
        <strong>Reason:</strong> {{ result.reason }}
      </li>
    </ul>
  </div>
{% endblock %}
