{% extends 'base.html.twig' %}
{% block title %}Batch store file{% endblock %}

{% block body %}
  <div class="card">
    {{ form_start(form) }}
    <div class="card-body">
      {{ form_rest(form) }}
      <button class="btn btn-primary" type="submit">Store files</button>
    </div>
    {{ form_end(form) }}
  </div>
{% endblock %}
