{% extends 'base.html.twig' %}

{% block title %}<span class="text-truncate">File {{ file.originalFilename }}" info</span>{% endblock %}

{% block body %}
  <a href="{{ path('file_list') }}">Back to files</a>
  <hr>
  {% include 'file_info/_common_file.html.twig' %}

  {% if file.imageInfo is not null %}
    {% include 'file_info/_image_info.html.twig' %}
  {% endif %}

  {% if file.videoInfo is not null %}
    {% include 'file_info/_video_info.html.twig' %}
  {% endif %}

  <a data-method="POST" class="btn btn-danger" href="{{ path('delete_file', {'uuid': file.uuid}) }}">Delete file</a>
{% endblock %}
