{% extends 'base.html.twig' %}

{% block title %}File {{ file.originalFilename | u.truncate(25, '…') }} info{% endblock %}

{% block body %}
  <a href="{{ path('file_list') }}">Back to files</a>
  <hr>
  <h4 class="d-flex justify-content-between align-items-center">
    Remote file
    <a href="{{ path('store_file', {'uuid': file.uuid}) }}" class="btn btn-secondary">Store</a>
  </h4>
  <div class="table-responsive">
    {% include 'file_info/_common_file.html.twig' %}
  </div>

  {% if file.imageInfo is not null %}
    {% include 'file_info/_image_info.html.twig' %}
  {% endif %}

  {% if file.videoInfo is not null %}
    {% include 'file_info/_video_info.html.twig' %}
  {% endif %}

  <a data-method="POST" class="btn btn-danger" href="{{ path('delete_file', {'uuid': file.uuid}) }}">Delete file</a>
{% endblock %}
