{% extends 'base.html.twig' %}

{% block title %}Upload file{% endblock %}

{% block body %}

  {% include 'file_info/_file_list_table.html.twig' %}
  <hr>

  {{ form_start(form) }}
  {{ form_rest(form) }}

  <button class="btn btn-primary" type="submit">Upload file</button>
  {{ form_end(form) }}
{% endblock %}

{% block javascripts %}

  <script>
    window.addEventListener('DOMContentLoaded', () => {
      const fileInputs = document.querySelectorAll('.custom-file-input');
      fileInputs.forEach(inp => {
        inp.addEventListener('change', evt => {
          let labelElement = evt.currentTarget.nextSibling;
          labelElement.innerText = evt.currentTarget.files[0].name;
        })
      })
    });
  </script>
{% endblock %}
